@import "/src/assets/styles/pallete.scss";

.wrapper {
	&.short,
	&.long {
		font-size: 16px;
		outline: none;
		border: none;
		background: $white;
		border: $border_input;
		border-radius: 4px;
		font-size: 20px;
		height: 50px;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		color: $text;
		padding-left: 15px;
	}

	&.short {
		width: 280px;
	}

	&.long {
		width: 345px;
	}

	&[type="date"] {
		font-family: "Roboto";
		background: url("../../../../public/calendar.svg") no-repeat;
		background-size: 20px;
		background-position: 95%;
	}

	&[type="date"]::-webkit-calendar-picker-indicator {
		padding: 10px;
		margin-right: 5px;
		opacity: 0;
		cursor: pointer;

		& i {
			text-transform: lowercase;
			outline: none;
		}
	}
}
