@import "/src/assets/styles/pallete.scss";

.wrapper {
	grid-area: b;
	width: 656px;

	background: #ffffff;
	box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
	border-radius: 16px;
	padding: 52px 32px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.leftSide {
			font-weight: 500;
			font-size: 32px;
			line-height: 38px;
			display: flex;
			align-items: center;
			color: $text;
			display: flex;
			gap: 20px;

			.city::first-letter {
				text-transform: uppercase;
			}
		}

		.date {
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			display: flex;
			align-items: center;
			text-align: right;
			color: $logout;
		}
	}

	.content {
		margin: 28px 0 28px 0;

		.favorites {
			font-weight: 300;
			font-size: 17px;
			line-height: 22px;
			letter-spacing: -0.408px;
			color: $text;

			& span {
				font-weight: 500;
				color: $logout;
			}
		}
	}

	.items {
		overflow-y: auto;
		max-height: 550px;
		padding-right: 10px;

		.zero {
			display: flex;
			justify-content: center;
			margin-top: 100px;
			font-size: 20px;
			font-weight: 400;
			color: $text;
		}

		&::-webkit-scrollbar {
			width: 2px;
		}

		&::-webkit-scrollbar-track {
			background: $scrollbar;
		}

		&::-webkit-scrollbar-thumb {
			background: $logout;
			border-radius: 2px;
		}
	}
}
